<div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="container">
          <h1>We are in<br></h1>
          <marquee behavior="scroll" direction="up">
              <h4>Hyderabad<br></h4>
              <h4>Mumbai <br></h4>
              <h4>Visakapatnam <br></h4>
              <h4>Pune <br></h4>
          </marquee>
      </div>
    </div>

    <div class="col-sm-9">
        <h1>Todays Special</h1>
        <div class="container">
          <div class="row justify-content-center">
              <div class="row" style="justify-content: space-evenly;">
                  <div class="col-sm-3" >
                      <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <img src="assets/photo/biryani.jpg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back" style="padding-top: 50px;">
                              <h1>Biryani</h1> 
                              <p>Extra Spicy</p> 
                              <p>Rs 299 only</p>
                            </div>
                          </div>
                        </div>
                  </div>

                  <div class="col-sm-3">
                      <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <img src="assets/photo/mixed.jpg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back" style="padding-top: 50px;">
                              <h1>Mixed Curry</h1> 
                              <p>Extra Spicy</p> 
                              <p>Rs 99 only</p>
                            </div>
                          </div>
                        </div>
                  </div>

                  <div class="col-sm-3">
                      <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <img src="assets/photo/samosa.jpg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back" style="padding-top: 50px;">
                              <h1>Samosa</h1> 
                              <p>Extra Spicy</p> 
                              <p>From 29 only</p>
                            </div>
                          </div>
                        </div>
                  </div>
        </div>
          </div>

        </div>
     </div>
  </div>
</div>