<app-header></app-header>
<div>
    
    
    <div id="whole">  
        <div class="container" style="text-align: center; padding: 200px;">
          <span style="color: white;">you dont need silver forks to eat good food</span><br>
          <span style="color: white;">you dont need silver forks to eat good food</span><br>
          <span style="color: white;">you dont need silver forks to eat good food</span><br>
          <span style="color: white;">you dont need silver forks to eat good food</span><br>
          <span style="color: white;">you dont need silver forks to eat good food</span><br>
          <span style="color: white;">you dont need silver forks to eat good food</span><br>
          <span style="color: white;">you dont need silver forks to eat good food</span><br>
          <span style="color: white;">you dont need silver forks to eat good food</span><br>
          <span style="color: white;">you dont need silver forks to eat good food</span><br>

        </div>

      </div>
      
</div>
<app-footer></app-footer>
