<app-header></app-header>
<div class="jumbotron">
  <div class="row justify-content-center" style="padding: 25px;">
    <h2>Registered Details</h2>
  </div>
  <div class="row">
      
      <div class="col-sm-4 offset-md-4">
        <table>
            <tr>
                <td>First Name:</td>
                <td>{{regidata.fname}}</td>
            </tr>
            <tr>
                <td>Middle Name:</td>
                <td>{{regidata.mname}}</td>
            </tr>

            <tr>
                <td>Last Name:</td>
                  <td>{{regidata.lname}}</td>
                </tr>

            <tr>
                <td>Birthday:</td>
                <td>{{regidata.dob}}</td>
            </tr>

            <tr>
              <td>Age:</td>
              <td>{{regidata.age}}</td>
          </tr>

            
            <tr>
                <td>Mobile:</td>
                <td>{{regidata.mobile}}</td>
            </tr>
            <tr>
            <td>Email:</td>
            <td>{{regidata.email}}</td>
            </tr>
        </table>
      </div>
      <div class="col-2 col-sm-4">

      </div>

  </div>
</div>  
<app-footer></app-footer>
