<nav class="navbar navbar-expand-md navbar-light bg-light">
   
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">

         <a routerLink="/home" routerLinkActive="active" style="color: black;">Home</a>
          <a routerLink="/about-us" routerLinkActive="active" style="color: black;">Profile</a>
          <a routerLink="/amount" routerLinkActive="active" style="color: black;">AddProducts</a>
          <a routerLink="/careers" routerLinkActive="active" style="color:black;">Products</a>
          <a href="/contact" routerLinkActive="active" style="color: black;">Contact Us</a>

      </div>
      <div class="navbar-nav ml-auto">
          <a routerLink="/cart" class="nav-item nav-link mr-3"><span class="fa fa-shopping-cart fa-2x"></span></a>
          <a href="#" class="nav-item nav-link"><span class="fa fa-sign-out fa-2x"></span></a>

      </div>
  </div>
</nav>