<footer class="fixed-bottom">
  <div class="container-fluid">
  <div class="row">
   <div class="col-sm-4 bg-dark">
  
   <h6 style="padding-top: 20px; color: aliceblue;"><i class="fa fa-phone" aria-hidden="true"></i> 040-452452</h6>
  </div>
  <div class="col-sm-7 bg-dark">
   
              
   </div>
  <div class="col-sm-1 bg-dark ml-auto">
    <ul class="list-unstyled list-inline social text-center" style="padding-top: 25px;">
      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" style="font-size: 20px;"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" style="font-size: 20px;"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" style="font-size: 20px;"></i></a></li>
      
  </ul>
  
  </div>
  
  
  </div>
  
  
  
  
  </div>
  
  
  
  </footer>